doctype html
html
  head
    title Slot status
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='refresh' content='20')

  block content
    div state: #{state}
    div armstate: #{armstate}
    div betIncrement: #{betIncrement}
    div currentUser: #{currentUser}
    div bet: #{bet}
    div winnings: #{won}